<!-- Footer -->
   <footer class="bg-dark text-light text-center py-3">
    <div class="container">
        <p>{{ site.author.name }}, {{ site.author.location }}</p>
           <p>If you are a professional and would like to know more about me and my work, then please feel free to <a href="https://uk.linkedin.com/in/robertloveridge">connect on LinkedIn.</a></p>
    <p>Interested in <a href="https://github.com/robertloveridge">seeing some of my code?</a></p>
    <p>
      <a href="https://trailblazer.me/id/roberterniereg">Trailhead</a> | 
      <a href="https://www.credly.com/users/roberterniereg/badges">Credly Badges</a>
    </p>
    </div>
</footer>
