<footer class="site-footer">
  <span class="site-footer-owner">
    <p>{{ site.author.name }}, {{ site.author.location }}</p>
  </span>
  <span class="site-footer-credits">
    <p>If you are a professional and would like to know more about me and my work, then please feel free to <a href="https://uk.linkedin.com/in/robertloveridge">connect on LinkedIn.</a></p>
    <p>Interested in <a href="https://github.com/robertloveridge">seeing some of my code?</a></p>
    <p>
      <a href="https://trailblazer.me/id/roberterniereg">Trailhead</a> | 
      <a href="https://www.credly.com/users/roberterniereg/badges">Credly Badges</a>
    </p>
    
  </span>
</footer>
